.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(0 0 0 / 85%);
  padding: 5% 15%;
  border-radius: 20px;
  color: white;
  transition: all 0.3s;
  height: 100%;
}

.card:hover {
  transform: scale(1.02);
  transition: all 0.3s;
}

.link {
  margin-top: 5px;
  margin-bottom: 15px;
}

.card-name {
  height: 100%;
  margin: 10px 0 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.card-image {
  border-radius: 12px;
  box-shadow: 0 0 30px rgb(92 72 121 / 80%);
}

.programm {
  color: #9977c9;
  margin: 0 auto 20px;
}

.programm:hover {
  color: #b793ea;
}

.vote {
  position: relative;
  bottom: 0;
}
