.ant-modal-content {
  background-color: rgb(92 72 121 / 96%) !important;
  border-radius: 14px !important;
}

.ant-modal-header {
  background-color: rgb(80 61 107 / 80%) !important;
  border-radius: 14px !important;
  border: 0 !important;
  margin: auto !important;
  text-align: center !important;
}

.ant-modal-close-icon {
  color: #3f2e59 !important;
  transition: 0.5s !important;
}

.ant-modal-close-icon:hover {
  color: #a37fd5 !important;
  transition: 0.5s;
}

.ant-modal-title {
  color: #cecece !important;
}

.confirm-text {
  font-size: calc(14px + 1.5vw);
  text-align: center;
  color: #cecece;
}

.extra-text {
  color: #cecece;
  text-align: center;
  font-size: calc(10px + 1vw);
}

.ant-modal-footer {
  border: 0 !important;
  display: flex !important;
  align-items: flex-start !important;
  justify-content: space-between !important;
  margin: 0 80px !important;
}

.btn-ok {
  border-radius: 18px !important;
  background-color: rgba(116 91 152 / 50%) !important;
  border-color: #805eab !important;
  color: #e0e0e0 !important;
  transition: 1s !important;
}

.btn-ok:hover {
  border-color: #cecece !important;
  transform: scale(1.05) !important;
  transition: 1s !important;
  background-color: rgba(116 91 152 / 50%) !important;
}

.btn-cancel {
  border-radius: 18px !important;
  background-color: rgba(116 91 152 / 50%) !important;
  border-color: #805eab !important;
  color: #e0e0e0 !important;
  transition: 1s !important;
}

.btn-cancel:hover {
  border-color: #cecece !important;
  transform: scale(1.05) !important;
  transition: 1s !important;
  background-color: rgba(116 91 152 / 50%) !important;
  color: #e0e0e0 !important;
}
